Python modules needed:
moviepy
azure.cognitiveservices.speech
os
sys
random

Authorisation needed:
-azure portal (https://learn.microsoft.com/en-us/azure/cognitive-services/speech-service/get-started-text-to-speech?tabs=windows%2Cterminal&pivots=programming-language-python)
-tiktok account